<nav class="top-navbar">
  <div class="navbar-content">
    <a routerLink="/" class="navbar-brand">Deeply<span style="color: var(--textLight);">Profound</span></a>
    
    <div class="navbar-links">
      <div class="navbar-dropdown">
        <button class="navbar-dropdown-toggle" (click)="toggleDropdown($event)">
          <div class="hamburger-menu" [class.open]="isDropdownOpen">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
        
        <div class="navbar-dropdown-menu" [class.show]="isDropdownOpen">
          <div class="dropdown-menu-content">
            <ng-container *ngIf="!authService.isLoggedIn()">
              <a routerLink="/login" class="dropdown-menu-item" [class.active]="isActive('/login')">Login</a>
              <a routerLink="/register" class="dropdown-menu-item" [class.active]="isActive('/register')">Register</a>
            </ng-container>

            <ng-container *ngIf="authService.isLoggedIn()">
              <a routerLink="/leaks" class="dropdown-menu-item" [class.active]="isActive('/leaks')">Leaks</a>
              <a (click)="logout()" class="dropdown-menu-item" style="cursor: pointer;">Logout</a>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>