<nav>
  <div class="nav-content">
    <div class="logo">
      <a href="/">
        <img src="assets/logo.png" alt="Beck">
      </a>
    </div>
    <div class="socials">
      <a href="https://github.com/Izaacapp" title="Github" target="_blank" rel="noopener">
        <img src="assets/github.svg" alt="Github">
      </a>
      <a href="https://www.instagram.com/" title="Instagram" target="_blank" rel="noopener">
        <img src="assets/instagram.svg" alt="Instagram">
      </a>
      <a href="https://discord.gg/" title="Discord" target="_blank" rel="noopener">
        <img src="assets/discord.svg" alt="Discord">
      </a>
      <a href="https://x.com/" title="Twitter/X" target="_blank" rel="noopener">
        <img src="assets/twitter-x.svg" alt="Twitter/X">
      </a>
    </div>
  </div>
</nav>
