<div class="skills-container">
  <div class="title">
    Your Breaches
  </div>
  <div class="scroller-wrapper">
    <div class="scroller">
      <!-- Modern Business Solutions -->
      <div class="scroller-card"><img src="assets/mbs-color.svg" alt="Modern Business Solutions"></div>
      
      <!-- Twitter Breaches -->
      <div class="scroller-card"><img src="assets/twitter-color.svg" alt="Twitter"></div>
      <div class="scroller-card"><img src="assets/twitter200m-color.svg" alt="Twitter 200M"></div>
      
      <!-- Cloudata -->
      <div class="scroller-card"><img src="assets/cloudata-color.svg" alt="Cloudata"></div>
      
      <!-- BreachedForum -->
      <div class="scroller-card"><img src="assets/breachedforum-color.svg" alt="BreachedForum"></div>
      
      <!-- GameTuts -->
      <div class="scroller-card"><img src="assets/gametuts-color.svg" alt="GameTuts"></div>
      
      <!-- USA Voters -->
      <div class="scroller-card"><img src="assets/usavoters-color.svg" alt="USA Voters"></div>
      
      <!-- StockX -->
      <div class="scroller-card"><img src="assets/stockx-color.svg" alt="StockX"></div>
      
      <!-- NexusMods -->
      <div class="scroller-card"><img src="assets/nexusmods-color.svg" alt="NexusMods"></div>
      
      <!-- Ga$$Pacc -->
      <div class="scroller-card"><img src="assets/gaspacc-color.svg" alt="Ga$$Pacc"></div>
      
      <!-- Kixify -->
      <div class="scroller-card"><img src="assets/kixify-color.svg" alt="Kixify"></div>
      
      <!-- Collections -->
      <div class="scroller-card"><img src="assets/collection1-color.svg" alt="Collection #1"></div>
      <div class="scroller-card"><img src="assets/collection5-color.svg" alt="Collection #5"></div>
      
      <!-- Mathway -->
      <div class="scroller-card"><img src="assets/mathway-color.svg" alt="Mathway"></div>
      
      <!-- Chegg -->
      <div class="scroller-card"><img src="assets/chegg-color.svg" alt="Chegg"></div>
      
      <!-- Poshmark -->
      <div class="scroller-card"><img src="assets/poshmark-color.svg" alt="Poshmark"></div>
      
      <!-- Edmodo -->
      <div class="scroller-card"><img src="assets/edmodo-color.svg" alt="Edmodo"></div>
      
      <!-- TeraBase64 -->
      <div class="scroller-card"><img src="assets/terabase64-color.svg" alt="TeraBase64"></div>
      
      <!-- RobinHood -->
      <div class="scroller-card"><img src="assets/robinhood-color.svg" alt="RobinHood"></div>
      
      <!-- Zeeroq -->
      <div class="scroller-card"><img src="assets/zeeroq-color.svg" alt="Zeeroq"></div>
      
      <!-- MyHeritage -->
      <div class="scroller-card"><img src="assets/myheritage-color.svg" alt="MyHeritage"></div>
    </div>
    <div class="scroller">
      <!-- Duplicate all icons for infinite scroll effect -->
      <div class="scroller-card"><img src="assets/mbs-color.svg" alt="Modern Business Solutions"></div>
      <div class="scroller-card"><img src="assets/twitter-color.svg" alt="Twitter"></div>
      <div class="scroller-card"><img src="assets/twitter200m-color.svg" alt="Twitter 200M"></div>
      <div class="scroller-card"><img src="assets/cloudata-color.svg" alt="Cloudata"></div>
      <div class="scroller-card"><img src="assets/breachedforum-color.svg" alt="BreachedForum"></div>
      <div class="scroller-card"><img src="assets/gametuts-color.svg" alt="GameTuts"></div>
      <div class="scroller-card"><img src="assets/usavoters-color.svg" alt="USA Voters"></div>
      <div class="scroller-card"><img src="assets/stockx-color.svg" alt="StockX"></div>
      <div class="scroller-card"><img src="assets/nexusmods-color.svg" alt="NexusMods"></div>
      <div class="scroller-card"><img src="assets/gaspacc-color.svg" alt="Ga$$Pacc"></div>
      <div class="scroller-card"><img src="assets/kixify-color.svg" alt="Kixify"></div>
      <div class="scroller-card"><img src="assets/collection1-color.svg" alt="Collection #1"></div>
      <div class="scroller-card"><img src="assets/collection5-color.svg" alt="Collection #5"></div>
      <div class="scroller-card"><img src="assets/mathway-color.svg" alt="Mathway"></div>
      <div class="scroller-card"><img src="assets/chegg-color.svg" alt="Chegg"></div>
      <div class="scroller-card"><img src="assets/poshmark-color.svg" alt="Poshmark"></div>
      <div class="scroller-card"><img src="assets/edmodo-color.svg" alt="Edmodo"></div>
      <div class="scroller-card"><img src="assets/terabase64-color.svg" alt="TeraBase64"></div>
      <div class="scroller-card"><img src="assets/robinhood-color.svg" alt="RobinHood"></div>
      <div class="scroller-card"><img src="assets/zeeroq-color.svg" alt="Zeeroq"></div>
      <div class="scroller-card"><img src="assets/myheritage-color.svg" alt="MyHeritage"></div>
    </div>
  </div>
</div>