<div id="about" class="about-container">
  <div class="about-card" id="about-card">
    <canvas id="canvas"></canvas>
    <div class="about-content">
      <div class="about-content-inner">
        <div class="about-text-container">
          <div class="about-title">
            About me
          </div>
          <p class="about-text">
            
          </p>
        </div>
      </div>
      <div class="about-content-inner">
        <img id="yo" src="assets/yo.png"><br> 
        <span class="subtitle">Full-stack developer / Pentester</span>
      </div>
    </div>
  </div>
</div>
